@import "carousel.css";
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
/* General style for body and fonts */
body {
  font-family: 'Work Sans', sans-serif;
}
h1 {
  font-family: 'Crimson Pro', serif;
  font-size: 45px;
  margin: 10px;
}
h2 {
  font-size: 25px;
}
h5 {
  font-size: 16px;
}
p {
  font-size: 14px;
}
/* Specific Styling */

div.main-container {
  width: 70%;
  margin: 40px auto;
}
.container {
  padding: 0;
  margin-top: 40px;
  margin-bottom: 40px;
}
pre {
  padding: 10px;
  border-radius: 10px;
}
pre#bootstrap_links {
  background-color: #F5F5F5;
  height: 150px;
  padding: 0;
}
pre#carousel_code {
  background-color: #F5F5F5;
}
code.language-markup {
  padding: 0;
  margin: 0;
  font-size: 13.5px;
}
span.img, span.title, span.img-description {
  color: red;
}



/* Media Queries for div containers elements */
@media screen and (max-width: 768px) {
  div.main-container {
    width: 95%;
    margin: 20px auto;
  }
  .container {
    width: 90%;
    margin: 20px auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  div.main-container {
    width: 95%;
    margin: 20px auto;
  }
  .container {
    width: 90%;
    margin: 20px auto;
  }
}
